@charset "UTF-8";
@font-face {
  font-family: "Trebuchet MS";
  src: url("../../fonts/TrebuchetMS.eot?#iefix") format("embedded-opentype"), url("../../fonts/TrebuchetMS.woff2") format("woff2"), url("../../fonts/TrebuchetMS.woff") format("woff"), url("../../fonts/TrebuchetMS.ttf") format("truetype"), url("../../fonts/TrebuchetMS.eot");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans";
  src: url("../../fonts/NotoSans-Bold.eot?#iefix") format("embedded-opentype"), url("../../fonts/NotoSans-Bold.woff2") format("woff2"), url("../../fonts/NotoSans-Bold.woff") format("woff"), url("../../fonts/NotoSans-Bold.ttf") format("truetype"), url("../../fonts/NotoSans-Bold.eot");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans";
  src: url("../../fonts/NotoSans-Italic.eot?#iefix") format("embedded-opentype"), url("../../fonts/NotoSans-Italic.woff2") format("woff2"), url("../../fonts/NotoSans-Italic.woff") format("woff"), url("../../fonts/NotoSans-Italic.ttf") format("truetype"), url("../../fonts/NotoSans-Italic.eot");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans";
  src: url("../../fonts/NotoSans-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../../fonts/NotoSans-BoldItalic.woff2") format("woff2"), url("../../fonts/NotoSans-BoldItalic.woff") format("woff"), url("../../fonts/NotoSans-BoldItalic.ttf") format("truetype"), url("../../fonts/NotoSans-BoldItalic.eot");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans";
  src: url("../../fonts/NotoSans.eot?#iefix") format("embedded-opentype"), url("../../fonts/NotoSans.woff2") format("woff2"), url("../../fonts/NotoSans.woff") format("woff"), url("../../fonts/NotoSans.ttf") format("truetype"), url("../../fonts/NotoSans.eot");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
}

html, body {
  overflow-x: hidden;
}

body {
  position: relative;
}

html {
  scroll-behavior: smooth;
}

:root {
  --primary-color: #754ef9;
  --primary-orverlay-color: 117, 78, 249;
}

/* .body-theme-color-1 {
  --primary-color: #45B164;
  --primary-orverlay-color: 69, 177, 100;
}
.body-theme-color-1 .main-banner:after, .body-theme-color-1 .about-img-wp .about-img:after, .body-theme-color-1 .portfolio-items:after, .body-theme-color-1 .testimonial-sec:after, .body-theme-color-1 .skill-sec .sec-wp:after, .body-theme-color-1 .blog-sec:after, .body-theme-color-1 .contact-sec:after {
  background-image: url(../../images/color-1-pattern.svg);
}

.body-theme-color-2 {
  --primary-color: #EA4C89;
  --primary-orverlay-color: 234, 76, 137;
}
.body-theme-color-2 .main-banner:after, .body-theme-color-2 .about-img-wp .about-img:after, .body-theme-color-2 .portfolio-items:after, .body-theme-color-2 .testimonial-sec:after, .body-theme-color-2 .skill-sec .sec-wp:after, .body-theme-color-2 .blog-sec:after, .body-theme-color-2 .contact-sec:after {
  background-image: url(../../images/color-2-pattern.svg);
} */

.body-theme-color-3 {
  --primary-color: #004A6B;
  --primary-orverlay-color: 0, 74, 107;
}
/* 
.body-theme-color-3 .main-banner:after, .body-theme-color-3 .about-img-wp .about-img:after, .body-theme-color-3 .portfolio-items:after, .body-theme-color-3 .testimonial-sec:after, .body-theme-color-3 .skill-sec .sec-wp:after, .body-theme-color-3 .blog-sec:after, .body-theme-color-3 .contact-sec:after {
  background-image: url(../../images/color-3-pattern.svg);
}

.body-theme-color-4 {
  --primary-color: #FF6D37;
  --primary-orverlay-color: 255, 109, 55;
}
.body-theme-color-4 .main-banner:after, .body-theme-color-4 .about-img-wp .about-img:after, .body-theme-color-4 .portfolio-items:after, .body-theme-color-4 .testimonial-sec:after, .body-theme-color-4 .skill-sec .sec-wp:after, .body-theme-color-4 .blog-sec:after, .body-theme-color-4 .contact-sec:after {
  background-image: url(../../images/color-4-pattern.svg);
}

.body-theme-color-5 {
  --primary-color: #FBCA06;
  --primary-orverlay-color: 251, 202, 6;
}
.body-theme-color-5 .main-banner:after, .body-theme-color-5 .about-img-wp .about-img:after, .body-theme-color-5 .portfolio-items:after, .body-theme-color-5 .testimonial-sec:after, .body-theme-color-5 .skill-sec .sec-wp:after, .body-theme-color-5 .blog-sec:after, .body-theme-color-5 .contact-sec:after {
  background-image: url(../../images/color-5-pattern.svg);
}

.body-theme-color-6 {
  --primary-color: #FF4C60;
  --primary-orverlay-color: 255, 76, 96;
}
.body-theme-color-6 .main-banner:after, .body-theme-color-6 .about-img-wp .about-img:after, .body-theme-color-6 .portfolio-items:after, .body-theme-color-6 .testimonial-sec:after, .body-theme-color-6 .skill-sec .sec-wp:after, .body-theme-color-6 .blog-sec:after, .body-theme-color-6 .contact-sec:after {
  background-image: url(../../images/color-6-pattern.svg);
} */

body {
  font-family: "Noto Sans";
  color: #101010;
  text-rendering: optimizeSpeed;
}

a {
  text-decoration: none !important;
  outline: none !important;
  color: #101010;
}

p {
  font-size: 16px;
  line-height: 26px;
  color: #787878;
}

img {
  width: 70%;
  border-radius: 8px;
}

img .banner-img {
  max-width: 50%;
  height: 50%;
}

#skill-img {
  max-width: 15%;
  height: 15%;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 15px;
  border-radius: 10%;
}

.flag-btn {
  width: 10%;
  border-radius: 50%;
  height: 30%;
  margin: 0;
  padding: 0;
}

.sec-wp {
  position: relative;
  z-index: 4;
}

.overflow-text {
  height: 300px;
  overflow: auto;
  overflow-x: hidden;
  padding-right: 10px;
  scrollbar-color: var(--primary-color) #101010;
  scrollbar-width: thin;
}

.overflow-text::-webkit-scrollbar {
  width: 4px;
}

.overflow-text::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}

.overflow-text::-webkit-scrollbar-track {
  background: rgba(16, 16, 16, 0.1);
}

.white-text {
  color: #ffffff;
}
.white-text h1 {
  color: #ffffff;
}
.white-text h2 {
  color: #ffffff;
}
.white-text h3 {
  color: #ffffff;
}
.white-text h4 {
  color: #ffffff;
}
.white-text h5 {
  color: #ffffff;
}
.white-text h6 {
  color: #ffffff;
}
.white-text p {
  color: #ffffff;
}
.white-text span {
  color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Trebuchet MS";
  font-weight: bold;
}

.h2-title {
  font-size: 44px;
  line-height: 50px;
  margin-bottom: 28px;
}

.h3-title {
  font-size: 34px;
  line-height: 44px;
}

.h4-title {
  font-size: 28px;
  line-height: 38px;
}

.h5-title {
  font-size: 24px;
  line-height: 34px;
}

.h6-title {
  font-size: 22px;
  line-height: 33px;
}

.headline-xl {
  font-size: 98px;
  line-height: 110px;
  margin-bottom: 20px;
  font-weight: bold;
}
.headline-xl span {
  display: block;
  font-family: "Noto Sans";
  opacity: 0.2;
  letter-spacing: 0.7px;
}
.headline-xl i {
  position: relative;
  font-style: normal;
}
.headline-xl i::after {
  content: "";
  position: absolute;
  top: 48%;
  left: 0;
  width: 70%;
  height: 18px;
  background: #ffffff;
  z-index: -1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16);
  margin-top: 1px;
}
.headline-xl i b {
  position: relative;
}
.headline-xl i b:after {
  content: "";
  position: absolute;
  top: 48%;
  left: 0;
  width: 24px;
  height: 18px;
  background: #ffffff;
  z-index: 1;
  margin-top: 1px;
}

.iam-color {
  color: #754ef9;
}

.sub-head {
  min-width: 187px;
  min-height: 54px;
  padding: 0 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background: rgba(var(--primary-orverlay-color), 0.1);
  font-size: 20px;
  text-transform: uppercase;
  color: var(--primary-color);
  margin-bottom: 31px;
  font-family: "Noto Sans";
  font-weight: normal;
}

.dotted-title {
  margin-bottom: 10px;
  position: relative;
  padding-bottom: 20px;
}

.dotted-title span {
  position: relative;
  bottom: 0;
  width: 20px;
  height: 4px;
  background: var(--primary-color);
  display: block;
  margin: 17px auto 0;
}
.dotted-title span:after {
  content: "";
  width: 20px;
  height: 4px;
  display: inline-block;
  background: var(--primary-color);
  position: absolute;
  margin-right: -40px;
  right: 0;
  top: 0;
}
.dotted-title span:before {
  content: "";
  width: 20px;
  height: 4px;
  display: inline-block;
  background: var(--primary-color);
  position: absolute;
  margin-left: -40px;
  left: 0;
  top: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.form-input {
  width: 100%;
  height: 60px;
  border: 1px solid #CCCCCC;
  outline: none !important;
  color: #787878;
  background: #ffffff;
  -webkit-appearance: none;
  border-radius: 5px;
  padding: 10px 25px;
}

.form-input.white-input {
  background: #ffffff;
  padding: 10px 30px;
}

.form-input.bg-input {
  background: #ffffff;
  padding: 10px 30px;
}

.form-input-wp {
  margin-bottom: 40px;
}

textarea.form-input {
  height: 205px;
  resize: none;
  padding: 30px 15px;
}

.form-input::-moz-placeholder {
  color: #787878;
}

.form-input:-ms-input-placeholder {
  color: #787878;
}

.form-input::placeholder {
  color: #787878;
}

select option {
  color: #101010;
}

select {
  color: #787878;
}

select::-ms-expand {
  display: none;
}

a:hover {
  color: initial;
}

video {
  width: 100%;
  outline: none;
}

blockquote {
  margin: 0 100px 30px;
}
blockquote p {
  margin: 0;
  font-size: 30px;
  line-height: 45px;
  font-family: "Trebuchet MS";
}
blockquote p:before {
  content: "“";
}
blockquote p:after {
  content: "”";
}

.swiper-pagination-bullet {
  width: 13px;
  height: 13px;
  background: var(--primary-color);
  opacity: 0.15;
  transition: 0.4s !important;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #101010;
  opacity: 1;
}

.bg-color-pattern {
  background: #F9F9F9;
  position: relative;
  overflow: hidden;
}
.bg-color-pattern:after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 685px;
  height: 1015px;
  background-image: url(../../images/bg-pattern.svg);
  background-position: top left;
  background-repeat: no-repeat;
  opacity: 0.5;
  z-index: 1;
  transform: translate(81%, 0);
}
.bg-color-pattern:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 50%;
  width: 685px;
  height: 1015px;
  background-image: url(../../images/bg-pattern.svg);
  background-position: top right;
  background-repeat: no-repeat;
  opacity: 0.5;
  z-index: 1;
  transform: translate(-79%, 0);
}

.for-des {
  display: block !important;
}

.for-mob {
  display: none !important;
}

.sec-btn {
  border-radius: 24px;
  width: 202px;
  height: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: var(--primary-color);
  color: #ffffff;
  position: relative;
  text-transform: uppercase;
  font-size: 15px;
  z-index: 1;
  outline: none !important;
  border: 1px solid transparent;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.08);
  transition: 0.5s;
}
.sec-btn svg {
  margin-left: 10px;
  transition: 0.5s;
}
.sec-btn:hover {
  background: transparent;
  color: #101010;
  border-color: #101010;
}
.sec-btn:hover svg path {
  fill: #101010;
}

.sec-btn.outline-btn {
  background: transparent;
  border-color: #101010;
  color: #101010;
}

.sec-btn.outline-btn:hover {
  background: #101010;
  color: #ffffff;
}

.sec-btn.sm-btn {
  width: 160px;
  height: 44px;
}

.sec-btn-link {
  display: inline-flex;
  align-items: center;
  color: var(--primary-color);
  text-transform: uppercase;
  transition: 0.5s;
}
.sec-btn-link svg {
  margin-left: 6px;
}
.sec-btn-link svg path {
  transition: 0.3s;
  fill: var(--primary-color);
}
.sec-btn-link:hover {
  color: #101010;
}
.sec-btn-link:hover svg path {
  fill: #101010;
}

.site-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  padding: 30px 0;
  transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  z-index: 99;
}

.site-logo {
  width: 197px;
}
.site-logo svg {
  width: 100%;
}
.site-logo svg path {
  transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.site-logo svg rect {
  fill: var(--primary-color);
  transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.site-header.sticky_head {
  position: fixed;
  background: #ffffff;
  padding: 10px 0;
  box-shadow: 0 20px 30px rgba(var(--primary-orverlay-color), 8%);
}
.site-header.sticky_head path {
  fill: #101010;
}

.header-menu-wp {
  display: flex;
  align-items: center;
}

.header-menu ul {
  list-style: none;  
}
.header-menu ul li {
  display: inline-block;
  margin: 0 10px;
}
.header-menu ul li:first-child {
  margin-left: 0;
}
.header-menu ul li:last-child {
  margin-right: 0;
}
.header-menu ul li a {
  text-transform: capitalize;
  color:#000000;
  transition: 0.3s;
  font-weight: bold;
}
.header-menu ul li a:hover {
  color: var(--primary-color);
}
.header-menu ul li .active {
  color: var(--primary-color);
}

.main-banner {
  position: relative;
  padding: 220px 0 110px;
  overflow: hidden;
  background: #F7F6FB;
}
.main-banner:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 50px;
  height: 276px;
  background: url(../../images/pattern.svg);
  pointer-events: none;
  transform: translate(0, -50%);
}

.banner-img-wrapper {
  position: relative;
}

.banner-img-wrapper svg {
  position: absolute;
  top: -80px;
  left: -29px;
  z-index: -1;
}
.banner-img-wrapper path {
  fill: var(--primary-color);
}
.banner-img-wrapper .banner-left-part {
  position: absolute;
  top: -35%;
  right: 220px;
  width: 100vw;
  height: 70vw;
  background-color: #101010;
  z-index: -1;
}
.banner-img-wrapper .banner-left-part:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../../images/banner-pattern.png);
  background-position: top right;
  background-repeat: no-repeat;
  opacity: 0.51;
}

.banner-content {
  padding-top: 74px;
  padding-left: 25px;
}
.banner-content .h5-title {
  color: #787878;
  letter-spacing: 0.5px;
  margin-bottom: 55px;
  font-weight: normal;
}

.banner-btn .sec-btn + .sec-btn {
  margin-left: 8px;
}

.banner-follow {
  position: absolute;
  bottom: 55px;
  right: 60px;
  display: inline-flex;
  align-items: center;
}
.banner-follow h4 {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  position: relative;
  display: flex;
  align-items: center;
}
.banner-follow h4:after {
  content: "";
  width: 55px;
  height: 1px;
  background: var(--primary-color);
  display: inline-block;
  margin-left: 11px;
  margin-top: 4px;
}
.banner-follow ul {
  padding-left: 35px;
}
.banner-follow ul li {
  margin: 0 12px;
  display: inline-block;
}
.banner-follow ul li:first-child {
  margin-left: 0;
}
.banner-follow ul li:last-child {
  margin-right: 0;
}
.banner-follow ul li a {
  color: var(--primary-color);
  transition: 0.5s;
}
.banner-follow ul li a:hover {
  color: #101010;
}

.about-sec {
  padding: 100px 0 0;
}

.about-content {
  padding-right: 5px;
  padding-top: 21px;
}
.about-content p {
  line-height: 35px;
  margin-bottom: 33px;
  opacity: 1;
}
/* .about-content p {
    margin-bottom: 15px;
} */

.about-content p:last-of-type {
  margin: 0;
}
.about-content .sec-btn {
  margin-top: 52px;
}

.about-img-wp {
  width: 100%;
  height: 600px;
  padding-left: 38px;
  position: relative;
}
.about-img-wp .about-img {
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.about-img-wp .about-img:after {
  content: "";
  position: absolute;
  top: 50%;
  right: -49px;
  width: 230px;
  height: 276px;
  background: url(../../images/pattern.svg);
  transform: translate(0, -50%);
  z-index: -1;
  background-position: right;
}

.skills-sec {
  padding: 100px 0;
}
.skills-sec .sec-head-wp {
  margin-bottom: 68px;
}

.skills-box {
  padding: 55px 20px 35px;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 0 20px 30px rgba(var(--primary-orverlay-color), 18%);
  transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.skills-box:hover {
  background: var(--primary-color);
}
.skills-box:hover .skills-icon svg path {
  stroke: transparent;
  fill: #ffffff;
}
.skills-box:hover .skills-icon svg g {
  stroke: #ffffff;
}
.skills-box:hover .h3-title {
  color: #ffffff;
}
.skills-box:hover .dotted-title span {
  background: #ffffff;
}
.skills-box:hover .dotted-title span:after, .skills-box:hover .dotted-title span:before {
  background: #ffffff;
}
.skills-box:hover p {
  color: #ffffff;
}
.skills-box:hover .sec-btn {
  background: #ffffff;
  color: #101010;
}
.skills-box:hover .sec-btn svg path {
  fill: #101010;
}
.skills-box .skills-icon {
  margin-bottom: 27px;
  transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.skills-box .skills-icon svg path {
  stroke: transparent;
  fill: var(--primary-color);
  transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.skills-box .skills-icon svg g {
  stroke: var(--primary-color);
  transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.skills-box p {
  height: 115px;
  margin-bottom: 15px;
  transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.portfolio-sec {
  padding: 60px 0;
  position: relative;
}

.portfolio-tab {
  padding-bottom: 60px;
}
.portfolio-tab ul {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.portfolio-tab li {
  display: inline-block;
  text-transform: capitalize;
  padding: 0 15px 10px;
  cursor: pointer;
  color: #787878;
  font-size: 18px;
  position: relative;
}
.portfolio-tab li:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background: var(--primary-color);
  opacity: 0;
  transition: 0.3s;
}
.portfolio-tab li:hover:after {
  height: 3px;
  opacity: 1;
}
.portfolio-tab .portfolio-active-tab:after {
  height: 3px;
  opacity: 1;
}

.portfolio-items {
  position: relative;
}
.portfolio-items:after {
  content: "";
  position: absolute;
  top: 108px;
  right: -35px;
  width: 235px;
  height: 276px;
  background: url(../../images/pattern.svg);
  z-index: -1;
  background-position: right;
}
.portfolio-items .item {
  margin-bottom: 30px;
}
.portfolio-items .portfolio-img {
  width: 100%;
  height: 390px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}
.portfolio-items .portfolio-img:hover .portfolio-box-hover {
  top: 0;
  opacity: 1;
}
.portfolio-items .portfolio-box-hover {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background: rgba(var(--primary-orverlay-color), 96%);
  padding: 30px;
  transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.portfolio-items .portfolio-box-hover .h3-title {
  font-weight: normal;
}
.portfolio-items .portfolio-box-hover a {
  position: absolute;
  bottom: 30px;
  right: 20px;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  display: inline-flex;
  align-items: flex-end;
  line-height: 14px;
}
.portfolio-items .portfolio-box-hover a svg {
  margin-left: 10px;
}
.portfolio-items .portfolio-box-hover p {
  opacity: 0.8;
  max-width: 520px;
  margin: 0 auto;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.circle-chart {
  width: 100%;
  height: 100%;
}

.circle-chart__circle {
  stroke: var(--primary-color);
  stroke-width: 2;
  stroke-linecap: square;
  fill: none;
  animation: circle-chart-fill 2s reverse;
  transform: rotate(-90deg);
  transform-origin: center;
}

.circle-chart__circle--negative {
  transform: rotate(-90deg) scale(1, -1);
}

.circle-chart__background {
  stroke: rgba(var(--primary-orverlay-color), 0.2);
  stroke-width: 0.3;
  fill: none;
}

.circle-chart__info {
  -webkit-animation: circle-chart-appear 2s forwards;
          animation: circle-chart-appear 2s forwards;
  opacity: 0;
  transform: translateY(0.3em);
}

.circle-chart__percent {
  alignment-baseline: central;
  text-anchor: middle;
  font-size: 8px;
}

.circle-chart__subline {
  alignment-baseline: central;
  text-anchor: middle;
  font-size: 3px;
}

.success-stroke, .warning-stroke {
  stroke: var(--primary-color);
}

.danger-stroke {
  stroke: #ff4444;
}

@-webkit-keyframes circle-chart-fill {
  to {
    stroke-dasharray: 0 100;
  }
}

@keyframes circle-chart-fill {
  to {
    stroke-dasharray: 0 100;
  }
}
@-webkit-keyframes circle-chart-appear {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes circle-chart-appear {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.skill-sec {
  padding: 50px 0 75px;
}
.skill-sec:after {
  opacity: 0.36;
  height: 680px;
  background-size: contain;
}
.skill-sec .sec-wp:after {
  content: "";
  position: absolute;
  bottom: -87px;
  right: 0;
  width: 53px;
  height: 276px;
  background: url(../../images/pattern.svg);
  z-index: -1;
  background-position: right;
  pointer-events: none;
}
.skill-sec .sec-head-wp {
  margin-bottom: 68px;
}

.skill-box {
  margin-bottom: 76px;
}
.skill-box .h2-title {
  margin-bottom: 31px;
}
.skill-box p {
  margin: 0;
}

.skill-btn {
  margin-top: 21px;
  text-align: center;
}

/* BLOG */
.blog-sec {
  padding: 60px 0 0;
  position: relative;
}
.blog-sec:after {
  content: "";
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 53px;
  height: 276px;
  background: url(../../images/pattern.svg);
  z-index: -1;
  background-position: right;
}
.blog-sec .sec-head-wp {
  margin-bottom: 68px;
}

.blog-img {
  width: 100%;
  height: 250px;
  margin-bottom: -10px;
  border-radius: 5px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.blog-text {
  background: #ffffff;
  padding: 19px 30px 37px;
  border-radius: 5px;
  box-shadow: 0 15px 20px rgba(var(--primary-orverlay-color), 0.18);
}
.blog-text .blog-date {
  margin-bottom: 4px;
}
.blog-text .dotted-title {
  font-size: 18px;
  line-height: 30px;
  padding-bottom: 11px;
}
.blog-text .dotted-title span {
  margin-left: 40px;
}
.blog-text p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 34px;
}

/* CONTACT */
.contact-sec {
  padding: 60px 0 75px;
  position: relative;
  background: #F9F9F9;
}
.contact-sec:after {
  content: "";
  position: absolute;
  bottom: 170px;
  right: 0;
  width: 53px;
  height: 200px;  
  z-index: -1;
  background-position: right;
}
.contact-sec .sec-head-wp {
  margin-bottom: 45px;
}

.submit-btn {
  margin-top: 3px;
  text-align: center;
}

.netlify-recapt {
  text-align: center;
}

/* FOOTER */
.site-footer {
  /* background: #101010; */
  position: relative;
  background: #0f0c29;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.top-footer {
  padding: 113px 0 85px;
}

.footer-about {
  padding-right: 5px;
}
.footer-about .footer-logo {
  width: 197px;
  margin-bottom: 20px;
}

.footer-title {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 36px;
  margin-top: 10px;
}

.footer-menu-wp {
  padding-left: 57px;
  display: flex;
  justify-content: space-between;
}

.footer-menu ul li {
  display: block;
  margin-bottom: 19px;
}
.footer-menu ul a {
  color: #ffffff;
  display: inline-block;
}
.footer-menu ul a:hover {
  text-decoration: underline !important;
}
.footer-menu ul .location-link {
  max-width: 200px;
  line-height: 40px;
  margin-top: -14px;
}

.social-icon {
  text-align: right;
}
.social-icon ul li {
  display: inline-flex;
  margin: 0 11px;
  align-items: center;
}
.social-icon ul li:first-child {
  margin-left: 0;
}
.social-icon ul li:last-child {
  margin-right: 0;
}
.social-icon ul li a {
  color: #ffffff;
  font-size: 22px;
  transition: 0.3s;
}
.social-icon ul li a:hover {
  color: var(--primary-color);
}

.bottom-footer {
  padding: 25px 0 23px;
  border-top: 1px solid rgba(255, 255, 255, 0.22);
}
.bottom-footer .copyright-text p {
  margin: 0;
}

.scrolltop {
  position: absolute;
  top: -41px;
  right: 80px;
  z-index: 2;
  width: 82px;
  height: 82px;
  cursor: pointer;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: var(--primary-color);
  font-size: 30px;
  color: #ffffff;
  transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.scrolltop:hover {
  background: #ffffff;
  color: var(--primary-color);
  box-shadow: 0 -15px 20px rgba(var(--primary-orverlay-color), 0.18);
}

.choose-color-wp {
  position: fixed;
  top: 145px;
  right: -200px;
  z-index: 98;
  transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  pointer-events: none;
}

.choose-color-wp.color-toggled {
  right: 0;
}

.choose-color-btn {
  background: var(--primary-color);
  height: 56px;
  border-radius: 50px 0 0 50px;
  display: inline-block;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.08);
  pointer-events: auto;
  transition: 0.3s;
}
.choose-color-btn button {
  background: transparent;
  border: none;
  width: 78px;
  height: 56px;
  border-right: 2px solid #ffffff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  outline: none;
}
.choose-color-btn button:hover svg {
  -webkit-animation: loader 2s linear infinite;
          animation: loader 2s linear infinite;
}
@-webkit-keyframes loader {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0);
  }
}
@keyframes loader {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0);
  }
}
.choose-color-btn span {
  display: inline-flex;
  vertical-align: top;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 194px;
}

.choose-color-box {
  width: calc(100% - 78px);
  margin-left: auto;
  background: #ffffff;
  padding: 16px 20px 23px;
  border-radius: 0 0 0 25px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  position: relative;
  z-index: 2;
  pointer-events: auto;
}
.choose-color-box p {
  font-weight: bold;
  color: #101010;
}
.choose-color-box ul {
  width: 170px;
  display: flow-root;
  margin: 0 -8px -15px;
}
.choose-color-box ul li {
  display: inline-block;
  float: left;
  width: 40px;
  height: 40px;
  margin: 0 8px 15px;
  background: #101010;
  border-radius: 3px;
  cursor: pointer;
}
.choose-color-box ul .active-color {
  box-shadow: 0 0 20px rgba(var(--primary-orverlay-color), 0.6);
}

@media (min-width: 1500px) {
  .container {
    max-width: 1170px;
  }
}
@media (max-width: 1399px) {
  .header-menu ul li {
    margin: 0 8px;
  }

  .headline-xl {
    font-size: 4.5vw;
    line-height: 7.3vw;
  }
}
@media (max-width: 1199px) {
  .header-menu {
    margin-left: -8px;
  }
  .header-menu ul li {
    margin: 0 6px;
  }
  .header-menu ul li a {
    font-size: 14px;
  }

  .banner-img-wrapper .banner-left-part {
    right: 155px;
  }

  .header-btn .sec-btn {
    width: 100px;
  }

  .headline-xl {
    font-size: 6.8vw;
  }
  .headline-xl font::after, .headline-xl font b:after {
    height: 10px;
  }

  .banner-content .h5-title {
    font-size: 22px;
    line-height: 34px;
  }

  .dotted-title {
    font-size: 28px;
    line-height: 38px;
  }

  .portfolio-items .portfolio-img {
    height: 300px;
  }

  .blog-img {
    height: 260px;
  }

  .footer-about {
    padding-right: 0;
  }
}

@media (max-width: 991px) {
  .for-des {
    display: none !important;
  }

  .for-mob {
    display: block !important;
  }

  .site-header {
    position: fixed;
    padding: 0;
    height: 80px;
    background: #101010;
  }
  .site-header .container {
    max-width: 100%;
    padding: 0;
    height: 100%;
  }
  .site-header .container .row {
    margin: 0;
    height: 100%;
  }
  .site-header .container .row .col-lg-3 {
    width: auto;
    padding: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 30px;
    z-index: 2;
    display: flex;
    align-items: center;
  }
  .site-header .container .row .col-lg-9 {
    padding: 0;
  }

  .header-btn .sec-btn:hover {
    background: #ffffff;
  }

  .menu-toggle {
    position: absolute;
    top: 50%;
    right: 30px;
    border: none;
    outline: none !important;
    background: transparent;
    width: 30px;
    padding: 0;
    transform: translate(0, -50%);
    z-index: 100;
  }
  .menu-toggle span {
    display: block;
    width: 100%;
    height: 3px;
    background: #ffffff;
    margin-bottom: 8px;
    transition: 0.3s;
  }
  .menu-toggle span:last-child {
    margin: 0;
  }

  .header-menu {
    margin: 0;
  }

  .header-menu-wp {
    display: block;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    width: 312px;
    z-index: 99;
    transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    overflow-y: auto;
    transform: translate3d(320px, 0px, 0px);
    background: #101010;
    padding: 80px 0 30px 50px;
  }

  .header-right-wrapper {
    position: relative;
  }
  .header-right-wrapper:after {
    content: "";
    position: absolute;
    top: -40px;
    right: -15px;
    width: 0;
    height: 100vh;
    background: #101010;
    opacity: 0.5;
    transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    z-index: 2;
  }

  .header-right-wrapper.toggled:after {
    width: calc(100% + 30px);
  }

  .toggled .header-menu-wp {
    transform: translate3d(0, 0px, 0px);
  }
  .toggled .menu-toggle span:nth-child(1) {
    transform: rotate(45deg);
    position: relative;
    top: 11px;
  }
  .toggled .menu-toggle span:nth-child(2) {
    transform: rotate(-45deg);
  }
  .toggled .menu-toggle span:nth-child(3) {
    opacity: 0;
    height: 0;
  }

  .header-menu ul li {
    display: block;
    float: none;
    margin: 0;
    margin-bottom: max(20px, 4vh);
  }
  .header-menu ul li a {
    display: inline-block;
    font-size: max(16px, 2vh);
    color: #ffffff;
  }

  .banner-img-wrapper .banner-left-part {
    display: none;
  }

  .banner-img-wrapper {
    padding-left: 30px;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 160px;
  }
  .banner-img-wrapper svg {
    left: max(-30px, -4vw);
    top: max(-85px, -15vw);
  }

  .headline-xl {
    font-size: 80px;
    line-height: 90px;
    margin-bottom: 30px;
  }

  .headline-xl i:after, .headline-xl i b:after {
    display: none;
  }

  .banner-follow {
    position: unset;
    text-align: center;
    justify-content: center;
    display: flex;
    margin-top: 58px;
  }

  .banner-content {
    padding-left: 0;
    padding-top: 0;
    text-align: center;
  }

  .main-banner {
    padding: 160px 0 80px;
  }

  .about-sec {
    padding: 50px 0 0;
  }

  .about-content {
    padding: 0;
    text-align: center;
  }
  
  .about-content .sec-btn {
    margin-top: 20px;
  }

  .about-img-wp {
    padding: 0;
    margin-bottom: 30px;
    height: 80vw;
    min-height: 300px;
  }

  .skills-box {
    max-width: 380px;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .skills-box p {
    height: auto;
  }
  .skills-box .skills-icon {
    margin-bottom: 17px;
  }

  .dotted-title {
    margin: 0;
    padding-bottom: 20px;
  }

  .skills-sec {
    padding: 60px 0;
  }

  .portfolio-sec {
    padding: 60px 0;
  }

  .skill-box {
    margin-bottom: 40px;
  }
  .skill-box .h2-title {
    margin-bottom: 15px;
  }

  .skill-sec {
    padding: 80px 0;
  }
  .skill-sec .sec-head-wp {
    margin-bottom: 68px;
  }

  .skill-btn {
    margin-top: 0;
  }

  .bg-color-pattern:after, .bg-color-pattern:before, .skill-sec .sec-wp:after, .portfolio-items:after, .testimonial-sec:after, .contact-sec:after {
    display: none;
  }

  .blog-sec {
    padding: 60px 0 0;
  }

  .blog-box {
    max-width: 480px;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .form-input {
    height: 46px;
    padding: 10px 20px;
  }

  .form-input-wp {
    margin-bottom: 30px;
  }

  textarea.form-input {
    height: 140px;
    padding: 18px 20px;
  }

  .contact-sec {
    padding: 60px 0;
  }
  .contact-sec .sec-head-wp {
    margin-bottom: 68px;
  }

  .banner-content .h5-title {
    font-size: 18px;
    line-height: 30px;
  }

  .portfolio-tab li {
    padding: 0 8px 10px;
    font-size: 16px;
  }

  .skills-sec .sec-head-wp {
    margin-bottom: 68px;
  }

  .scrolltop {
    right: 30px;
    width: 60px;
    height: 60px;
    font-size: 24px;
    top: -30px;
  }

  .footer-menu-wp {
    padding: 0;
  }

  .top-footer {
    padding: 63px 0 45px;
  }

  .footer-about {
    padding-bottom: 30px;
  }

  .portfolio-items .portfolio-box-hover {
    padding: 15px;
  }
  .portfolio-items .portfolio-box-hover a {
    bottom: 15px;
  }

  .portfolio-tab {
    padding-bottom: 40px;
  }

  .site-header.sticky_head .menu-toggle span {
    background: var(--primary-color);
  }
}
@media (max-width: 767px) {
  .choose-color-wp {
    right: -170px;
  }

  .choose-color-btn {
    height: 46px;
    font-size: 14px;
  }
  .choose-color-btn button {
    width: 50px;
    height: 46px;
  }
  .choose-color-btn button svg {
    width: 22px;
  }
  .choose-color-btn span {
    width: 164px;
  }

  .choose-color-box {
    width: calc(100% - 50px);
  }
  .choose-color-box ul li {
    width: 32px;
    height: 32px;
  }
}
@media (max-width: 575px) {
  .container,
.container-fluid {
    padding: 0 30px;
  }

  .footer-menu-wp {
    display: block;
  }

  .footer-menu {
    margin-bottom: 40px;
  }

  .footer-title {
    margin: 0;
    margin-bottom: 20px;
  }

  .footer-menu ul li {
    margin-bottom: 10px;
  }

  .top-footer {
    padding: 63px 0 0;
  }

  .social-icon {
    text-align: left;
    margin-top: 30px;
  }

  .headline-xl {
    font-size: 60px;
    line-height: 66px;
    margin-bottom: 30px;
  }

  .main-banner:after {
    display: none;
  }

  .banner-btn .sec-btn + .sec-btn {
    margin-top: 15px;
  }

  .banner-content .h5-title {
    margin-bottom: 26px;
  }

  .banner-img-wrapper {
    margin-top: 110px;
  }

  .banner-follow {
    display: block;
    text-align: center;
  }
  .banner-follow h4 {
    display: block;
    margin-bottom: 20px;
  }
  .banner-follow h4:after {
    display: none;
  }
  .banner-follow ul {
    padding: 0;
  }
  .banner-follow ul li {
    margin: 0 10px;
  }

  .main-banner {
    padding: 160px 0 60px;
  }

  .about-img-wp .about-img:after {
    display: none;
  }

  .testimonial-box {
    padding: 30px 15px;
  }

  .blog-text {
    padding: 19px 20px 37px;
  }

  .blog-sec::after {
    display: none;
  }

  .h2-title {
    font-size: 36px;
    line-height: 46px;
  }

  .sub-head {
    margin-bottom: 20px;
    min-width: 167px;
    min-height: 46px;
    font-size: 18px;
  }
}
@media (max-width: 400px) {
  .container,
.container-fluid {
    padding: 0 15px;
  }

  .site-header .container .row .col-lg-3 {
    left: 15px;
  }

  .menu-toggle {
    right: 15px;
  }

  .header-menu-wp {
    width: 280px;
  }

  .scrolltop {
    right: 15px;
  }

  .banner-follow {
    margin-top: 40px;
  }
}/*# sourceMappingURL=style.css.map */